In [83]:
import pandas as pd
data = pd.read_csv("passwords.txt", names = ["pass"])
data

                              pass
0                     4-5 r: rrrjr
1           9-10 x: pxcbpxxwkqjttx
2           8-13 b: rjbbbbvgrbrfjx
3       3-5 d: dtddsdddddsddddddwd
4          3-11 q: qbqsqqzqqxkmbqx
..                             ...
995  10-14 r: qskrrvvzclrrvztrdkrh
996       4-13 c: wccwcccbccccrccc
997     11-14 l: wlqzllcljjtqglbhl
998   17-19 b: bbbbbbbbbbbbbbbbbbq
999                   3-5 x: xxqxm

[1000 rows x 1 columns]

#### given letter must occur at least x times at most y times for "x-y: pass" input

In [70]:
count = 0
for x in data["pass"]:
    least = x.split('-')[0]
    most = x.split('-', 1)[1].split(" ")[0]
    letter = x.split(' ', 1)[1].split(":")[0]
    p = x.split(':', 1)[1]
    c = p.count(letter)
    
    if c >= int(least) and c <= int(most):
        count += 1
        
print(count)

398

#### first 2 values are positions, exactly one must be the letter

In [88]:
count = 0
for x in data["pass"]:
    pos1 = int(x.split('-')[0])
    pos2 = int(x.split('-', 1)[1].split(" ")[0])
    letter = x.split(' ', 1)[1].split(":")[0]
    p = x.split(':', 1)[1].strip()
    
    a = (p[pos1 - 1] == letter)
    b = (p[pos2 - 1] == letter)
    
    if (a ^ b):
        count += 1
    
print(count)

562