In [9]:
import pandas as pd
expenses = pd.read_csv("input", names = ["val"])
nums = expenses['val']
expenses

      val
0    1511
1    1344
2    1925
3    1970
4    1864
..    ...
195  1981
196  1711
197  1905
198  1625
199  1968

[200 rows x 1 columns]

**Find the two entries that sum to 2020**

In [10]:
def twoSum():
    for x in nums:
        for y in nums:
            if x + y == 2020:
                return(x,y)
a, b = twoSum()
print(a * b)

445536

**Find the three entries that sum to 2020**

In [8]:
# too lazy to optimize so O(n^3)
def findThree():
    for x in nums:
        for y in nums:
            for z in nums:
                if x + y + z == 2020:
                    return(x,y,z);
a,b,c = findThree()
print(a * b * c)

138688160